# Catppuccin Tmux configuration
# Copyright (C) 2024 Roger Steve Ruiz
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see <https://www.gnu.org/licenses/>.

set -g @catppuccin_flavor "latte"
set -g @catppuccin_window_status_style "basic"

set -g @catppuccin_window_text "#W"
set -g @catppuccin_window_current_text "#W"

set -gq @catppuccin_pane_status_enabled "yes" # set to "yes" to enable
set -gq @catppuccin_pane_border_status "yes" # set to "yes" to enable

set -g @catppuccin_window_number_position "right"

set -g @catppuccin_window_default_fill "number"

set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_window_current_text "#{pane_current_path}"

set -gq @catppuccin_pane_left_separator "▓"
set -gq @catppuccin_pane_middle_separator "▓"
set -gq @catppuccin_pane_right_separator "▓"

set -g @catppuccin_status_left_separator "▓"
set -gq @catppuccin_status_middle_separator "▓"
set -g @catppuccin_status_right_separator "▓"

set -g @catppuccin_status_right_separator_inverse "no"
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_connect_separator "no"

set -g @catppuccin_application_icon " 󰣆  "
set -g @catppuccin_session_icon "   "

set -g @catppuccin_window_status_enable "yes"

set -g @catppuccin_window_flags "icon"

set -g @catppuccin_reset "true"

# windows
set -gF window-status-format "#[bg=#{@ctp_surface_1},fg=#{@ctp_fg}] ##I ##T "
set -gF window-status-current-format "#[bg=#{@ctp_mauve},fg=#{@ctp_crust}] ##I ##T "

# Make the status line pretty and add some modules
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right "#{E:@catppuccin_status_application}#{E:@catppuccin_status_session}"

# vi:set ft=tmux
